.detail_contanier {
  display: flex;
  flex-direction: column;
  width: 430px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 430px;
  height: 40px;
}

.FaChevronLeft {
  width: 40px;
  height: 25px;
}

.detail_header00 {
  width: 300px;
}

.detail_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  margin-right: 20px;
}

.main_img {
  border-radius: 10px;
}
/* ================================= */

section span {
  font-size: 16px;
  font-weight: 900;
}

section p {
  font-size: 12px;
  font-weight: 300;
}

.main_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin: 10px auto 20px auto;
  color: #03c75a;
  border-bottom: 3px solid #03c75a;
  font-weight: 800;
}

aside p {
  font-size: 12px;
}

main {
  height: 400px;
  overflow-y: auto;
}

.main_section {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 85px;
  flex-wrap: wrap;
  border-bottom: 0.3px solid gray;
}

main::-webkit-scrollbar {
  height: 500px;
  display: none;
}

main::-webkit-scrollbar {
  width: 430px;
  display: none;
}

.main_span {
  margin-left: 10px;
}

.main_span_p {
  font-size: 14px;
  font-weight: 800;
}

.main_span_pp {
  font-size: 12px;
  font-weight: 200;
  margin-top: -10px;
}

.GoPlusCircle {
  color: white;
  height: 45px;
}

.btn_input {
  height: 50px;
  width: 380px;
  border-top: 1px solid white;
}

.btn_btn {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background-color: white;
}
