body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 430px;
  max-height: 932px;
  border-top: solid 1px black;
  margin: 0 auto;
}

.main_footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 430px;
  height: 70px;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 395px) {
  .Main_container {
    width: 390px;
    margin: 0 auto;
  }

  .main_footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    height: 60px;
    background-color: white;
  }
}
